
h1 {
    color: white;
    font-family: ;
    font-size: 240%;
  }

.instructions {
    color: lightgray;
    font-family: verdana;
    font-size: 100%;
  }

.container {
    background-image: url(./universe.jpg);
    width: 100%;
    margin: 0;
    color: aquamarine;
 }

#mobilebox {

}

#welcome {
    color: Turquoise;
}
.piedep {
  background-color: lightgray;
}
